{% extends 'layouts/app.twig' %}
{% block css %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
{% endblock %}

{% block body %}
	{# Display a div with a bg gradient thanks to tailwindcss v3 #}
	<div class="bg-gradient-to-r from-blue-500 via-blue-700 to-blue-900 h-[50vh] flex px-20 py-28 justify-center clip-path flex-col text-white">
		<p class="italic">Section
			{{ section.id }}
			-
			{{ section.title }}</p>
		<h1 class="text-3xl font-bold">Module
			{{ module.id }}
			-
			{{ module.title }}</h1>
		<div class="flex items-center gap-3">
			<div class="flex items-center gap-1 information">
				<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
					<path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"/>
				</svg>
				<p class="">{{ module.time }}
					min</p>
			</div>
			<div class="flex items-center gap-1 information">
				<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
					<path stroke-linecap="round" stroke-linejoin="round" d="M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z"/>
				</svg>
				<p class="">{{ module.exercices.length }}
					exercices</p>
			</div>
		</div>
	</div>
	<div class="flex flex-col gap-3 px-10 pt-8 content">
		{% for content in module.content %}
			{% if content.type == 'text' %}
				<div class="flex flex-col">
					<p class="">{{ content.text }}</p>
				</div>
			{% elseif content.type == 'title' %}
				<div class="flex flex-col">
					<h2 class="text-2xl font-bold">{{ content.text }}</h2>
				</div>
			{% elseif content.type == 'video' %}
				<div class="flex flex-col items-center justify-center">
					<video class="w-full h-full" controls>
						<source src="{{ content.video }}" type="video/mp4">
					</video>
				</div>
			{% elseif content.type == 'image' %}
				<div class="flex flex-col justify-center items-center h-[50vh]">
					<img class="w-full h-full" src="{{ content.image }}" alt="">
				</div>
			{% elseif content.type == 'code' %}
				<pre class="flex flex-col w-full gap-1">
					<code class="language-html" data-clipboard-target="#code-html">{{ content.code }}</code>
					<p class="italic text-center">{{ content.description }}</p>
				</pre>
			{% endif %}
		{% endfor %}
	</div>

	<div class="flex flex-col gap-4 px-10 pt-8 exercices">
		<h3 class="text-2xl font-bold text-gray-900">Exercices</h3>
		{% for exercice in module.exercices %}
			{% if exercice.type == 'quiz' %}
				<div class="py-10 rounded-2xl quiz bg-slate-800" data-quiz="{{ exercice.questions | json_encode | raw | replace({'"': "'"}) }}">
					<div class="progress" data-aos="zoom-in">
						<div class="progressbar">
							<div class="bar1"></div>
							<div class="bar2"></div>
						</div>
						<p class="progresstext">
							<span class="min">0</span>&nbsp;/&nbsp;<span class="max">7</span>
						</p>
					</div>
					<p class="question"></p>
					<div class="answers"></div>
					<a class="submit-quiz button">Suivant</a>
				</div>
			{% elseif exercice.type == 'gapfill' %}
				<h3 class="text-xl font-bold text-gray-900">Writing - {{ exercice.title }}</h3>
				<p class="">{{ exercice.question }}</p>
				<div class="gap-fill flex flex-col relative w-full rounded-2xl justify-start items-start">
					
				</div>
			{% elseif exercice.type == 'writing' %}
				<h3 class="text-xl font-bold text-gray-900">Writing - {{ exercice.title }}</h3>
				<p class="">{{ exercice.question }}</p>
				<div class="writing flex flex-col relative w-full rounded-2xl justify-start items-start">
					<textarea spellcheck="false" class="overflow-auto whitespace-nowrap outline-none absolute w-full z-20 input p-4 text-transparent bg-transparent caret-white resize-none"></textarea>
					<pre class="w-full h-full">
						<code class="overflow-auto whitespace-nowrap left-0 top-0 absolute w-full z-10 output preview language-javascript p-4">
						</code>
					</pre>
				</div>
			{% endif %}
		{% endfor %}
	</div>

{% endblock %}
